{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "What Next?" %}{% endblock %}

{% block body %}

    <h1>About Crisis Hacks</h1>

    <p>There are a lot of passionate developers who create open source software
       for the crisis response communities, often at hackathons
       like Random Hacks of Kindness.  However there is not a good way to track
       what hacks are being worked on, and by whom.  Crisis Hacks is a simple
       website designed to solve this problem.
     </p>

     <h2>Who Built This?</h2>
     <p>
       This site is largely based on the excellent
       <a href="http://djangopackages.com">Django Packages</a> site which
       was created by Daniel Greenfeld and Audrey Roy.  The codebase was
       customized slightly by
       <a href="http://twitter.com/jlivni">Josh Livni</a>,
       <a href="http://twitter.com/ingenieroariel">Ariel Núñez</a>,
       and others for use with the crisis hacking community.
    </p>

    <h2>What is a Crisis Hack?</h2>

    <p>A crisis hack is any open source project, script, or other software
    that aims to solve issues facing the crisis response community.  To be
    eligible for inclusion in this site, the software must be publicly available
    on a site like <a href="http://code.google.com">Google Code</a>,
    <a href="http://github.com">GitHub</a> or other similar repositories.
    </p>

    <h2>Can I help?</h2>

    <p>
        Django Hacks is an volunteer based <a
          href="http://github.com/rhok-planet/djangopackages">open source effort</a>.
        Please <a href="http://github.com/rhok-planet/djangopackages/issues">submit any ideas or issues</a> and
        also fork and submit back patches and enhancements.
    </p>

{% endblock %}
