{% extends "hack/base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}Add new Deployment{% endblock %}

{% block body %}

    <h1>Add new deployment</h1>
    
    <form class="uniForm" method="post">
        {% csrf_token %}
        <fieldset>
            {{ form|as_uni_form }}

            <div id="hack-deploymentmap" style="width: 600px; height: 600px;"></div>
            <div class="form_block">        
                <input type="submit" name="add" value="Add new deployment">
                <a href="{% url hack hack.slug %}">cancel</a>
            </div>            
        </fieldset>

    </form>

{% endblock %}

{% block extra_body %}
<script>
    $("#id_title").focus();
</script>
<script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=false">
</script>
<script>
    {% include "hack/deployment_form.js" %}
</script>
{% endblock %}
