{% extends "site_base.html" %}

{% load cache %}
{% load i18n %}
{% load ifsetting_tag %}
{% load hack_tags %}

{% block extra_head %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/home.css" />
{% endblock %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

   <h1><a href="{% url home %}">home</a> / <a href="{% url categories %}">categories</a> / {{ category }}s ( {{ hacks.count }} )</h1>

  <p id="description">{{ category.description }}</p>

  <p id="links"><a class="large awesome green" href="{% url add_hack %}">add hack »</a>
    <a href="{% url latest_hacks %}">latest</a> <a href="{% url hacks %}">all</a>
  </p>

  <p>Click table headers to sort</p>

  <table id="home-hacks">
      <thead>
      <tr>
        <th># Following</th>
        <th>Name</th>
        <th>Commits</th>
        <th><img src="{{ STATIC_URL }}img/eye_20x20_clear.png" /></th>
        <th><img src="{{ STATIC_URL }}img/fork_20x20_clear.png" /></th>
      </tr>
      </thead>

    <tbody>
    {% for hack in hacks %}
      <tr class="usage-container">
        <td class="usage-container">
          <span class="usage-count">{{ hack.usage_count }}</span>
          &nbsp;
          <span class="usage-button">
            {% if hack.pk in used_hacks_list %}
            {% include "hack/remove_usage_button.html" %}
            {% else %}
            {% include "hack/add_usage_button.html" %}
            {% endif %}
          </span>
        </td>
        <td><a href="{% url hack hack.slug %}">{{ hack.title }}</a></td>
        {% cache 86400 hack.commitchart hack %}
          <td><img class="hack-githubcommits" src="http://chart.apis.google.com/chart?cht=bvg&chs=105x20&chd=t:{{hack|commits_over_52}}&chco=666666&chbh=1,1,1&chds=0,20" /></td>
        {% endcache %}
        <td>{{ hack.repo_watchers }}</td>
        <td>{{ hack.repo_forks }}</td>

      </tr>
    {% endfor %}
    </tbody>
   </table>

{% endblock %}

{% block extra_body %}
  <script type="text/javascript">
     $(document).ready(function()
       {
         $("#home-hacks").tablesorter();
       }
     );
  </script>
{% endblock %}
