{% extends "hack/base.html" %}

{% load i18n %}

{% block head_title %}Hacks{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/home.css" />
{% endblock %}


{% block body %}

    <h1>Django Hacks</h1>

    <p id="links"><a class="large awesome green" href="{% url add_hack %}">add hack »</a>
        <a href="{% url latest_hacks %}">latest</a> <a href="{% url hacks %}">all</a>
    </p>


    <p>Click table headers to sort</p>

    <table id="all-hacks">
        <thead>
        <tr>
            <th>Usage</th>
            <th></th>
            <th>Name</th>
            <th>Commits</th>
            <th><img src="{{ STATIC_URL }}img/eye_20x20_clear.png" /></th>
            <th><img src="{{ STATIC_URL }}img/fork_20x20_clear.png" /></th>
            <th>Added</th>
        </tr>
        </thead>
        <tbody> 
        {% for hack in object_list %}
            {% include "hack/_hack_row.html"%}
        {% endfor %}
        </tbody>         
    </table>

{% endblock %}


{% block extra_body %}
    <script type="text/javascript">
         $(document).ready(function() 
             { 
                 $("#all-hacks").tablesorter(); 
             } 
         );
    </script>
{% endblock %}
