{% extends "searchv1/base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}Search{% endblock %}

{% block body %}

    <h1>Search</h1>
    
    <form class="uniForm">
        <fieldset>
                {{ form|as_uni_form }}

            <div class="form_block">        
                <input type="submit" name="b" value="Search"> 
            </div>            
        </fieldset>
    </form>

    
    <div id="search-results">
        <div id="grid-listing">
            <h2>{% if grids.count %}Grids{% else %}No grids found{% endif %}</h2>
            <p><a class="medium awesome purple" href="{% url add_grid %}">add grid »</a>
                <a href="{% url latest_grids %}">latest</a> <a href="{% url grids %}">all</a>
            </p> 
            {% for grid in grids %}
                {% include "grid/snippets/grid.html" %}
            {% endfor %}
        </div>
        <div id="hack-listing">
            <h2>{% if hacks.count %}Hacks{% else %}No hacks found{% endif %}</h2>
            <p><a class="medium awesome darkbrown" href="{% url add_hack %}">add hack »</a>
                <a href="{% url latest_hacks %}">latest</a> <a href="{% url hacks %}">all</a>
            </p>
            {% for hack in hacks %}
                {% include "hack/_hack.html"%}
            {% endfor %}
        </div>    
    </div>

{% endblock %}

{% block extra_body %}
<script>
    $("#id_q").focus();
    
    {% for grid in grids %}
        $('#grid-{{ grid.id }}').mouseover(function() {
            $('#grid-{{ grid.id }}').addClass("clickable");
        });
        $('#grid-{{ grid.id }}').mouseout(function() {
            $('#grid-{{ grid.id }}').removeClass("clickable");
        });
        $('#grid-{{ grid.id }}').click(function() {
            $(location).attr("href","{% url grid grid.slug %}");
        });   
    {% endfor %}    
    
    {% for hack in hacks %}
        $('#hack-{{ hack.id }}').mouseover(function() {
            $('#hack-{{ hack.id }}').addClass("clickable");
        });
        $('#hack-{{ hack.id }}').mouseout(function() {
            $('#hack-{{ hack.id }}').removeClass("clickable");
        });
        $('#hack-{{ hack.id }}').click(function() {
            $(location).attr("href","{% url hack hack.slug %}");
        });        
    {% endfor %}
</script>
{% endblock %}
